@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
}

header nav a:hover {
  color: #000;
}



.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e1f5;
  padding: 50px 20px;
  height: 650px;

}
.perro{
  position: absolute;
  z-index: 1;
  order: 1;
  left: 350px;
  height: 700px;
}
.fondoPata{
  position: absolute;
  z-index: 0;
  left: 250px;
  height: 500px;
}

.home-text {
  max-width: 500px;
  left: 950px;
  position: absolute;
}

.home h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.home a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5a5ce6;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.home a:hover {
  background-color: #4342b5;
}

.nav_link{
  font-weight: bold;
}
/*-----------------------------------------------------------------------------------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro {
  margin-bottom: 50px;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  color: #555;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  height: 400px;
}
.comida{
  position: absolute;
  left: 875px;
  top: 950px;
}
.atrascomida{
  position: relative;
}
.casa{
  position: absolute;
  left: 560px;
  top: 960px;
}
.fondocasa{
  position: relative;
}
.jabon{
  position: absolute;
  left: 1212px;
  top: 940px;
  height: 145px;
}
.atrasjabon{
  position: relative;
}
.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #666;
}

.card a{
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #5a5ce6;
  color: #5a5ce6;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.card a:hover {
  background-color: #5a5ce6;
  color: white;
}
.cuadro{
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}


/*---------------------------------------------*/
.features-intro {
  align-items: center;
}
.imgfotos {
  display: flex;
  width: 400px;
  height: 250px;
  display: flex;
}
.testimonials{
  background-color: #e6e3fa;
}
.service-titulo {
}
.features-grid,
.services-grid,
.products-grid,
.testimonial-grid {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
 
  
}
.product-img{
  width: 50px;
  height: 10px;
  margin: 3%;
}
.feature-item {
  max-width: 350px;
  width: 30%;
  text-align: center;
  padding: 40px 0;
  border-radius: 20px;
}
.service-item,
.product-item,
.testimonial-item {
  text-align: left;
  flex: 1;
  margin: 3%;
}

.product-item img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: #6c63ff;
  color: white;
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.products{
  background-color: antiquewhite;
}

.feature-itemm {
  max-width: 500px;
  text-align: left;
  background-color: #fff;;
  padding: 0px;
}
.imgicon{
  align-items: center;
}
.feature-imagen{
  width: 500px;
  height: 300px;
}
.feature-item img.feature-image {
  width: 30%;
  border-radius: 10px;
  margin: 10px 0;
}

.icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: #555;
}

